<footer>
<hr />
<nav>
	<a href="https://www.facebook.com/ankit.r.gadiya">Facebook</a> |
	<a href="https://github.com/ankitrgadiya">Github</a> |
	<a href="https://youtube.com/channel/UCbct_i6BcaEZCqt63c-nyYA">Youtube</a> |
	<a href="https://instagram.com/ankitrgadiya">Instagram</a> |
	<a href="https://www.linkedin.com/in/ankitrgadiya/">Linkedin</a> |
	<a href="mailto:me@argp.in">Mail</a>
</nav>
<p>Copyright &copy; 2017-{{site.time | date: "%Y"}} {{site.author}}</p>
</footer>
